body{
    background-image: ("https://promotion.geekbuying.com/promotion/march_mega_sale");
}
.main{
    width: 70%;
    margin: auto;
}
select,input,button{
    border: 0;
    background: 0;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}


.navbar{
    height: 125px;
    width: 100%;
    padding-left: 40px;
}




.one{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.one>div{
    margin-left: 50px;
}
.one>div>button{
    position: relative;
}
.down{
    display: none;
    position: absolute;
    min-width: 250px;
    min-height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.ourapp:hover .down{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    background-color: white;
}
.down1{
    display: none;
    position: absolute;
    min-width: 100px;
    min-height: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.language:hover .down1{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    background-color: white;
}
.down2{
    display: none;
    position: absolute;
    min-width: 200px;
    min-height: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.NRI:hover .down2{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    background-color: white;
}
.down3{
    display: none;
    position: absolute;
    min-width: 80px;
    min-height: 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.spport:hover .down3{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    background-color: white;
}
.ourimg1{
    height: 200px;
    width: 250px;
    padding-right: 25px;
}
.ourimg img{
    width: 100%;
}
.ourimg{
    height: 100px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    grid-template-areas: 
    "a b b"
    "a c c"
}
.ourimg>div:nth-child(1){
    grid-area: a;
    height: 100px;
    width: 100px;
}
.ourimg>div:nth-child(2){
    grid-area: b;
}
.ourimg>div:nth-child(3){
    grid-area: c;
}
.nri1{
    height: 200px;
    width: 250px;
    padding-right: 25px;
    padding-bottom: 20px;
}
.nri1>select{
    border: 1px solid;
    height: 20px;
    width: 100%;
    margin: 10px 0px;
}
.nri1>button{
    margin-left: 200px;
    background-color: orange;
    height: 20px;
    width: 50px;
}





.two{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.two>img{
    height: 60px;
    cursor: pointer;
}
.two1{
    height: 30px;
    width: 500px;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
}
.two1>input{
    width: 400px;
}
.allcategories{
    height: 30px;
    width: 100px;
    margin-top: 5px;
}
.allcategories+label{
    margin-top: 5px;
}
.two1>button{
    height: 30px;
    width: 50px;
    background-color: #3199ce;
    cursor: pointer;
}
.two1>button>img{
    height: 25px;
}
.two2{
    display: flex;
   
}
.two2>div{
    height: 50px;
    width: 80px;
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    align-items: flex-end;
}
.two2>div>img{
    height: 30px;
    margin-bottom: 16px;
}
.two2>div>div{
    margin-left: 20px;
    height: 50px;
}
.two2>div>div>p{
    margin: 0;
}
.signin{
    display: none;
    position: absolute;
    min-height: 200px;
    min-width: 200px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.signin1:hover .signin{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    background-color: white;
    transform: translateY(300px);
}
.signin>li>div>button{
    height: 30px;
    width: 100%;
    background-color: orange;
    margin-top: 10px;
}
.signin>li>div{
    text-align: center;
}


#cartcount{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: orange;
    color: white;
}
.three{
    display: flex;
    font-weight: bold;
}
.three>div,select{
    margin-right: 30px;
    cursor: pointer;
}
.three1{
    height: 350px;
    width: 100%;
    padding-bottom: 10px;
}
.three2{
    height: 50px;
}
.down{
    display: none;
    position: absolute;
    min-width: 250px;
    min-height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.three2:hover .down{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    background-color: rgb(143, 36, 36);
}
.down1{
    display: none;
    position: absolute;
    min-width: 250px;
    min-height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-left: 250px;
    transform: translatey(-22px);
}
.Localwarehouses:hover .down1{
    height: 300px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    background-color: rgb(12, 231, 12);
}
.down2{
    height: 300px;
    width: 100%;
    display: none;
    position: absolute;
    min-width: 250px;
    min-height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-left: 250px;
    transform: translatey(-46px);
    
}
.Smarthomegarden:hover .down2{
    display: block;
    display: flex;
    text-align: left;
    padding-left: 500px;
    justify-content: space-around;
    align-items: right; 
    background-color: rgb(12, 231, 12);
}
.down3{
    display: none;
    position: absolute;
    min-width: 250px;
    min-height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-left: 250px;
    transform: translatey(-22px);
}
.Sportsoutdoors:hover .down3{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    background-color: rgb(12, 231, 12);
}
